.header {
    padding: 24px 0 0 0;
    font-family: var(--font-family-primary);
    background-color: var(--bg-color-secondary);
    overflow: hidden;

    &_grey {
        background-color: var(--bg-color-primary);
    }

    &__logo {
        text-align: center;
    }

    &__title {
        margin: 40px 0;
        font-weight: 500;
        @include fzlh(50, 64);
        color: var(--text-color-primary);

        &:not(:last-of-type) {
            margin-bottom: 35px;
        }
    }

    &__tabs {
        width: calc(100vw - 30px);
        overflow: auto;
    }

    @media screen and (max-width: 720px) {
        & {
            padding: 17px 0 0 0;
        }

        &__logo {
            flex-grow: 1;
        }

        &__title {
            margin: 20px 0;
            @include fzlh(28, 38);
            color: var(--text-color-secondary);
        }
    }
}