.header {
  padding: 24px 0 0;
  font-family: var(--font-family-base);
  background-color: var(--bg-color-header);
  color: var(--text-color-base);
}

.header_small {
  padding: 25px 0 25px 0;
}

.header__menu-panel {
  display: flex;
}

.header__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.28;
}

.header__title:not(:last-of-type) {
  margin-bottom: 35px;
}
