.header {
    padding: 24px 0 0;
    font-family: var(--font-family-primary);
    background-color: var(--bg-color-secondary);

    &_grey {
        padding: 25px 0 25px 0;
        background-color: var(--bg-color-primary);
    }

    &__logo {
        text-align: center;
    }

    &__title {
        margin: 40px 0;
        font-weight: 500;
        @include fzlh(50, 64);
        color: var(--text-color-primary);

        &:not(:last-of-type) {
            margin-bottom: 35px;
        }
    }

    @media screen and (max-width: 720px) {
        &_grey {
            padding: 17px 0 17px 0;
        }

        &__logo {
            flex-grow: 1;
        }

        &__title {
            @include fzlh(28, 38);
            color: var(--text-color-secondary);
        }
    }
}
