.header {
  padding: 24px 0 0;
  font-family: var(--font-family-base);
  background-color: var(--bg-color-header);
}

.header_grey {
  padding: 25px 0 25px 0;
  background-color: var(--bg-color-header-grey);
}

.header__menu-panel {
  display: flex;
}

.header__logo {
  text-align: center;
}

.header__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.28;
  color: var(--text-color-header-title);
}

.header__title:not(:last-of-type) {
  margin-bottom: 35px;
}

@media screen and (max-width: 720px) {
  .header_grey {
    padding: 17px 0 17px 0;
  }

  .header__logo {
    flex-grow: 1;
  }

  .header__title {
    font-size: 28px;
    line-height: 1.35;
    color: var(--text-color-header-title-mobile);
  }
}
