/* Стилизация кнопки */
.btn {
  height: 48px;
  padding: 0 66.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  border: none;
  border-radius: 8px;
  transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
  cursor: pointer;
}

.btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn_primary {
  color: var(--color-button-primary);
  background-color: var(--bg-color-button-primary);
}

.btn_primary:hover:enabled {
  background-color: var(--bg-color-button-hover-primary);
}

.btn_secondary {
  color: var(--color-button-secondary);
  background-color: var(--bg-color-button-secondary);
}

.btn_secondary:hover:enabled {
  background-color: var(--bg-color-button-hover-secondary);
}

.btn_alternate {
  color: var(--color-button-alternate);
  background-color: var(--bg-color-button-alternate);
  border: 1px solid var(--border-color-button-alternate);
  transition: border 200ms ease-out;
}

.btn_alternate:hover:enabled {
  border-color: var(--border-color-button-hover-alternate);
}
