/* Стилизация аккордеона */

.accordion {
  max-width: 730px;
}

.accordion__item {
  margin-bottom: 8px;
  padding: 24px 48px 24px 32px;
  background: var(--bg-color-accordion);
  border: 1px solid var(--border-color-accordion);
  border-radius: 8px;
}

.accordion__item[open] .accordion__text {
  transition: ease-out 1s;
  opacity: 1;
}

.accordion__item[open] .accordion__icon {
  transform: rotate(180deg);
}

.accordion__item:last-child {
  margin-bottom: 0;
}

.accordion__header {
  position: relative;
  display: block;
}

.accordion__header::marker {
  display: none;
}

.accordion__title {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-title-accordion);
}

.accordion__button {
  position: absolute;
  left: 100%;
  top: 0;
  display: inline-flex;
  width: 26px;
  height: 26px;
}

.accordion__icon {
  fill: var(--color-text-accordion);
}

.accordion__text {
  margin: 18px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text-accordion);
  opacity: 0;
}
