/* Стилизация аккордеона */

.accordion {
  max-width: 730px;

  &__item {
    margin-bottom: 8px;
    padding: 24px 48px 24px 32px;
    background: var(--bg-color-secondary);
    border: 1px solid var(--border-color-primary-darken);
    border-radius: 8px;
  }

  &__item[open] &__text {
    transition: ease-out 1s;
    opacity: 1;
  }

  &__item[open] &__icon {
    transform: rotate(180deg);
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__header {
    position: relative;
    display: block;
  }

  &__header::marker {
    display: none;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-primary);
  }

  &__button {
    position: absolute;
    left: 100%;
    top: 0;
    display: inline-flex;
    width: 26px;
    height: 26px;
  }

  &__icon {
    fill: var(--text-color-secondary);
  }

  &__text {
    margin: 18px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-color-secondary);
    opacity: 0;
  }
}
