.aside-menu__group {
  margin-bottom: 30px;
}

.aside-menu__group:last-child {
  margin-bottom: 0;
}
.aside-menu__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: var(--text-color-aside-menu-title);
}

.aside-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
}

.aside-menu__item {
  margin-bottom: 4px;
}

.aside-menu__item:last-child {
  margin-bottom: 0;
}

.aside-menu__link {
  color: var(--text-color-aside-menu);
  text-decoration: none;
}

.aside-menu__link_active {
  color: var(--text-color-aside-menu-active);
}
