.toggler {
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;

        &:disabled {
            +.toggler__control {
                background: var(--bg-color-primary-darken);

                &::before {
                    background: var(--bg-color-primary-darkest);
                    opacity: .25;
                }
            }
        }

        &:checked {
            +.toggler__control {
                background-color: var(--bg-color-elements);
                border-color: transparent;

                &::before {
                    left: calc(100% - 1px);
                    transform: translateX(-100%);
                    background-color: var(--bg-color-secondary);
                }
            }

            ~.toggler__icon {
                &_dark {
                    fill: var(--fill-color-alternate);
                }

                &_light {
                    fill: var(--fill-color-secondary);
                }
            }
        }
    }

    &__control {
        width: 52px;
        height: 28px;
        background-color: var(--bg-color-secondary);
        border: 1px solid var(--border-color-primary);
        border-radius: 16px;
        transition: background .3s;

        &::before {
            content: '';
            position: relative;
            top: 1px;
            left: 1px;
            display: block;
            width: 24px;
            height: 24px;
            background-color: var(--bg-color-primary-darken);
            border-radius: 50%;
            transition: all .3s ease;
        }
    }

    &__title {
        margin-left: 12px;
        font-weight: 400;
        @include fzlh(16, 24);
        color: var(--text-color-secondary);
    }

    &__icon {
        position: absolute;
        fill: var(--fill-color-alternate);
        transition: fill .3s;

        &_light {
            left: 0;
        }

        &_dark {
            right: 0;
            fill: var(--fill-color-secondary);
        }
    }
}