.toggler {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;

    &__container {
        width: 52px;
        padding: 2px;
        background-color: var(--bg-color-secondary);
        border: 1px solid var(--border-color-primary);
        border-radius: 16px;
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
    }

    &__input:disabled + &__container {
        background: var(--bg-color-primary-darken);
    }
    &__input:disabled + &__container &__control {
        background: var(--bg-color-primary-darkest);
        opacity: .25;
    }

    &__input:checked + &__container {
        background-color: var(--bg-color-elements);
        border-color: transparent;
    }

    &__input:checked + &__container &__control {
        left: 100%;
        transform: translateX(-100%);
        background-color: var(--bg-color-secondary);
    }

    &__control {
        position: relative;
        width: 24px;
        height: 24px;
        background-color: var(--bg-color-primary-darken);
        border-radius: 50%;
    }

    &__title {
        font-weight: 400;
        @include fzlh(16, 24);
        color: var(--text-color-secondary);
    }
}
