.histogram {
  padding: 16px 25px 24px;
  color: var(--text-color-base);
  background-color: var(--bg-color-histogram);
  border: 1px solid var(--border-color-histogram);
  border-radius: 8px;
}

.histogram__header {
  margin-bottom: 39px;
}

.histogram__header-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.histogram__header-item:last-child {
  margin-bottom: 0;
}

.histogram__title {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: 0.8;
}

.histogram__link {
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: var(--color-histogram-link);
}

.histogram__link:hover {
  text-decoration: underline;
}

.histogram__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 400;
}

.orders-chart__row {
  display: flex;
  align-items: flex-end;
  height: 50px;
}

.orders-chart__column {
  width: 9px;
  margin-right: 1px;
  background-color: var(--bg-color-histogram-chart);
}

.orders-chart__column:last-child {
  margin-right: 0;
}
