@import '../fonts/fonts.scss';
@import '../css/normalize.scss';
@import '../css/mixins.scss';
@import '../../components/page/page.scss';
@import '../../components/container/container.scss';
@import '../../components/header/header.scss';
@import '../../components/preview/preview.scss';
@import '../../components/card/card.scss';
@import '../../04-lection2/01-histogram/histogram.scss';
@import '../../components/footer/footer.scss';
@import '../../07-lection5/03-toggler/toggler.scss';
@import '../../03-lection1/01-button/button.scss';
@import '../../components/review/review.scss';
@import '../../components/aside-menu/aside-menu.scss';
@import '../../components/component/component.scss';
@import '../../components/logo/logo.scss';
@import '../../components/top-menu/top-menu.scss';
@import '../../components/controls/controls.scss';
@import '../../05-lection3/01-tooltip/tooltip.scss';
@import '../../07-lection5/01-checkbox/checkbox.scss';
@import '../../07-lection5/02-radio/radio.scss';
@import '../../05-lection3/03-calendar/calendar.scss';
@import '../../05-lection3/02-modal/modal.scss';
@import '../../07-lection5/04-input/input.scss';
@import '../../06-lection4/01-avatar/avatar.scss';
@import '../../03-lection1/02-accordion/accordion.scss';
@import '../../04-lection2/02-skeleton/skeleton.scss';
@import '../../06-lection4/02-background-image/background-image.scss';
@import '../../06-lection4/03-srcset/srcset.scss';
@import '../../09-lection7/01-burger-menu/burger-menu.scss';
@import '../../components/page-nav/page-nav.scss';
@import '../../components/burger-btn/burger-btn.scss';
@import '../../components/tabs/tabs.scss';
@import '../../components/code-area/code-area.scss';

:root {
    --white: #ffffff;
    --black: #212429;
    --black-1: #000000;
    --transparent-black: rgba(33, 36, 41, .05);
    --pink: #f784ad;
    --purple: #7048e8;
    --dark-purple: #5028c6;
    --blue: #374fc7;
    --blue-1: #2342c0;
    --blue-2: #334d6e;
    --light-blue: #4263eb;
    --transparent-blue: rgba(160, 177, 245, .2);
    --red: #f03d3e;
    --red-1: #d84910;
    --grey-0: #f9fafc;
    --grey-1: #f8f9fa;
    --grey-2: #dde2e5;
    --grey-3: #acb5bd;
    --grey-4: #495057;
    --grey-5: #90a0b7;
    --transparent-grey: rgba(196, 196, 196, .5);

    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;

    --text-color-primary: var(--black);
    --text-color-primary-darkest: var(--black-1);
    --text-color-secondary: var(--grey-4);
    --text-color-secondary-darker: var(--grey-5);
    --text-color-secondary-lighter: var(--grey-3);
    --text-color-secondary-lightest: var(--grey-2);
    --text-color-alternate: var(--white);
    --text-color-additional: var(--light-blue);
    --text-color-additional-darker: var(--blue-1);
    --text-color-additional-darkest: var(--blue-2);
    --text-color-active: var(--red-1);

    --bg-color-primary: var(--grey-0);
    --bg-color-primary-darken: var(--grey-2);
    --bg-color-primary-darkest: var(--grey-3);
    --bg-color-primary-transparent: var(--transparent-grey);
    --bg-color-secondary: var(--white);
    --bg-color-elements: var(--light-blue);
    --bg-color-elements-lighter: var(--transparent-blue);
    --bg-color-elements-darken: var(--blue-1);
    --bg-color-elements-secondary: var(--purple);
    --bg-color-elements-secondary-darken: var(--dark-purple);

    --border-color-primary: var(--grey-2);
    --border-color-primary-darken: var(--grey-3);
    --border-color-primary-darkest: var(--grey-5);
    --border-color-secondary: var(--black);
    --border-color-alternate: var(--light-blue);
    --border-color-error: var(--red);

    --box-shadow-primary: var(--transparent-black);
    --box-shadow-secondary: var(--grey-4);

    --fill-color-error: var(--red);
    --fill-color-success: var(--blue);
    --fill-color-primary: var(--black);
    --fill-color-secondary: var(--grey-3);
    --fill-color-alternate: var(--grey-4);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-family-primary);
    color: var(--text-color-primary);
}

*[data-hidden] {
    display: none;
}