@import '../fonts/fonts.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --dark-purple: #5028c6;
  --blue: #2342c0;
  --light-blue: #4263eb;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --bg-color-button-primary: var(--light-blue);
  --bg-color-button-hover-primary: var(--blue);
  --color-button-primary: var(--white);

  --bg-color-button-secondary: var(--purple);
  --bg-color-button-hover-secondary: var(--dark-purple);
  --color-button-secondary: var(--white);

  --bg-color-button-alternate: var(--white);
  --color-button-alternate: var(--grey-4);
  --border-color-button-alternate: var(--grey-3);
  --border-color-button-hover-alternate: var(--black);
}

* {
  font-family: 'Roboto', sans-serif;
}
