@import '../fonts/fonts.css';
@import '../css/normalize.css';

@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --dark-purple: #5028c6;
  --blue: #374fc7;
  --blue-01: #2342c0;
  --light-blue: #4263eb;
  --red: #f03d3e;
  --grey-0: #f9fafc;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);
  --primary: var(--blue);
  --secondary: var(--purple);
  --font-family-base: 'Inter', sans-serif;

  --bg-color-button-primary: var(--light-blue);
  --bg-color-button-hover-primary: var(--blue-01);
  --color-button-primary: var(--white);

  --bg-color-button-secondary: var(--purple);
  --bg-color-button-hover-secondary: var(--dark-purple);
  --color-button-secondary: var(--white);

  --bg-color-button-alternate: var(--white);
  --color-button-alternate: var(--grey-4);
  --border-color-button-alternate: var(--grey-3);
  --border-color-button-hover-alternate: var(--black);

  --text-color-base: var(--black);
  --bg-color-base: var(--grey-0);
  --border-color-base: var(--grey-2);

  --bg-color-header: var(--white);
  --bg-color-footer: var(--white);

  --border-color-accordion: var(--grey-3);
  --bg-color-accordion: var(--white);
  --color-title-accordion: var(--black);
  --color-text-accordion: var(--grey-4);

  --border-color-skeleton: var(--grey-3);
  --bg-color-skeleton-avatar: var(--grey-2);
  --bg-color-skeleton: var(--white);

  --bg-color-histogram: var(--white);
  --border-color-histogram: var(--grey-3);
  --color-histogram-link: var(--light-blue);
  --bg-color-histogram-chart: var(--light-blue);
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family-base);
  color: var(--text-color-base);
}
