.radio {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.radio__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio__input:checked + .radio__control {
  background: url('public/radio.svg');
  border: none;
}

.radio__input:disabled + .radio__control {
  background: var(--bg-color-form-controls-disabled);
}

.radio__input:disabled ~ .radio__title {
  color: var(--text-color-form-controls-title-disabled);
}

.radio__control {
  position: relative;
  width: 28px;
  height: 28px;
  background: var(--bg-color-form-controls);
  border: 1px solid var(--border-color-form-constrols);
  border-radius: 50%;
}

.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-form-controls-title);
}
