.radio {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    user-select: none;
    cursor: pointer;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0, 0, 0, 0);
        overflow: hidden;

        &:checked {
            & + .radio__control {
                border: none;
                background-color: var(--bg-color-elements);

                &::after {
                    display: block;
                }
            }
        }

        &:disabled {
            & + .radio__control {
                background: var(--bg-color-primary-darken); 
            }

            & ~ .radio__title {
                color: var(--text-color-secondary-lightest);
            }
        }
    }

    &__control {
        position: relative;
        width: 28px;
        height: 28px;
        background: var(--bg-color-secondary);
        border: 1px solid var(--border-color-primary);
        border-radius: 50%;

        &::after {
            position: absolute;
            content: '';
            top: calc(50% - 12px);
            left: calc(50% - 12px);
            width: 24px;
            height: 24px;
            border: 3px solid var(--white);
            border-radius: 50%;
            display: none;
        }
    }

    &__title {
        font-weight: 400;
        @include fzlh(16, 24);
        color: var(--text-color-secondary);
    }
}
