.calendar {
    max-width: 300px;
    padding: 25px 15px;
    border-radius: 8px;
    color: var(--color-text-calendar);
    border: 1px solid var(--border-color-calendar);

    &_preview {
        width: 200px;
        padding: 10px;
    }

    &_preview &__header {
        margin-bottom: 10px;
    }

    &_preview &__title {
        font-size: 14px;
    }

    &_preview &__item_date {
        font-size: 9px;
    }

    &_preview &__item {
        font-size: 9px;
    }

    &__header {
        margin-bottom: 24px;
    }

    &__title {
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
    }

    &__wrapper {
        position: relative;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 1px;
        align-content: stretch;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
    }

    &__item_date {
        font-size: 14px;
        line-height: 1.42;
        color: var(--color-text-calendar-date);
    }

    &__item_range-boundary {
        color: var(--color-text-calendar-range-boundary);
        background-color: var(--bg-color-calendar-range-boundary);
    }

    &__item_range-line {
        background: var(--bg-color-calendar-range-line);
    }
}
