.calendar {
    max-width: 300px;
    padding: 25px 15px;
    border-radius: 8px;
    color: var(--text-color-additional-darkest);
    border: 1px solid var(--border-color-primary-darken);

    &_preview {
        width: 200px;
        padding: 10px;
    }

    &_preview &__header {
        margin-bottom: 10px;
    }

    &_preview &__title {
        font-size: 14px;
    }

    &_preview &__item_date {
        font-size: 9px;
    }

    &_preview &__item {
        font-size: 9px;
    }

    &__header {
        margin-bottom: 24px;
    }

    &__title {
        margin: 0;
        font-weight: 600;
        @include fzlh(20, 24);
        text-align: center;
    }

    &__wrapper {
        position: relative;
        padding-bottom: 100%;
    }

    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        row-gap: 1px;
        align-content: stretch;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        @include fzlh(16, 20);
    }

    &__item_date {
        @include fzlh(14, 20);
        color: var(--text-color-secondary-darker);
    }

    &__item_range-boundary {
        color: var(--text-color-alternate);
        background-color: var(--bg-color-elements);
    }

    &__item_range-line {
        background: var(--bg-color-elements-lighter);
    }
}
