.footer {
    padding: 70px 0 136px 0;
    @include fzlh(16, 24);
    background-color: var(--bg-color-secondary);
    color: var(--text-color-primary);

    &_grey {
        padding: 40px 0 56px 0;
        background-color: var(--bg-color-primary);
    }

    &__title {
        margin: 0;
        font-weight: 500;
        @include fzlh(38, 45);
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__description {
        max-width: 640px;
        margin: 0 auto;
        text-align: center;

        &_uppercase {
            font-weight: 500;
            @include fzlh(12, 18);
            letter-spacing: .04em;
            text-transform: uppercase;
            color: var(--text-color-secondary-lighter);
        }

        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }


    @media screen and (max-width: 720px) {
        & {
            padding: 40px 0 60px 0;
        }

        &_grey {
            padding: 30px 0 40px 0;
        }

        &__title {
            @include fzlh(28, 38);

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}
