.footer {
  padding: 70px 0 136px 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-color-footer);
  color: var(--text-color-base);
}

.footer_grey {
  padding: 40px 0 56px 0;
  background-color: var(--bg-color-footer-grey);
}

.footer__title {
  margin: 0;
  font-size: 38px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.footer__title:not(:last-child) {
  margin-bottom: 32px;
}

.footer__description {
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

.footer__description_uppercase {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--text-color-footer);
}

.footer__description:not(:last-of-type) {
  margin-bottom: 20px;
}
