.checkbox {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__control {
  background: url('public/check-mark.svg') no-repeat center;
  background-color: var(--bg-color-form-controls-checked);
  border: none;
  border-radius: 4px;
}

.checkbox__input:focus + .checkbox__control {
  border-color: var(--border-color-form-controls-focused);
}

.checkbox__input:disabled + .checkbox__control {
  background: var(--bg-color-form-controls-disabled);
  border-radius: 4px;
  border: none;
}

.checkbox__input:disabled ~ .checkbox__title {
  color: var(--text-color-form-controls-title-disabled);
}

.checkbox__control {
  width: 28px;
  height: 28px;
  background: var(--bg-color-form-controls);
  border: 1px solid var(--border-color-form-constrols);
  border-radius: 4px;
}

.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-form-controls-title);
}
