.component {
    background-color: var(--bg-color-secondary);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, .05);
    border-radius: 12px;

    &__review {
        padding: 0 48px;

        &:not(:last-child) {
            margin-bottom: 60px;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 400;
        @include fzlh(28, 48);
        color: var(--box-shadow-secondary);
    }

    &__code {
        padding: 0;
        padding-left: 48px;
    }


    @media screen and (max-width: 992px) {
        &__title {
            @include fzlh(24, 31);
        }
    }

    @media screen and (max-width: 720px) {
        & {
            box-shadow: none;
        }

        &__review {
            padding: 0;
        }

        &__code {
            padding: 0;
        }

        &__title {
            @include fzlh(20, 26);
        }
    }
}