.page {
  background-image: url('public/forest_2560.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .page {
    background-image: url('public/forest_1024.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  .page {
    background-image: url('public/forest_768.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (max-width: 400px) {
  .page {
    background-image: url('public/forest_400.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
