.preview {
  padding: 68px 0;
  background-color: var(--bg-color-primary);
  border-top: 1px solid var(--border-color-primary);
  border-bottom: 1px solid var(--border-color-primary);

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__card {
    /*суммырный gap в строке 30 * 2 = 60px делим на 3 (у нас 3 элемента в строке)*/
    /*получаем 20px*/
    width: calc(100% / 3 - 20px);
  }

  @media screen and (max-width: 992px) {
    & {
      padding: 40px 0;
    }

    &__inner {
      justify-content: center;
    }

    &__card {
      width: calc(100% / 2 - 20px);
      max-width: 350px;
    }
  }

  @media screen and (max-width: 720px) {
    & {
      padding: 30px 0;
    }

    &__inner {
      justify-content: center;
    }

    &__card {
      max-width: 350px;
      width: 100%;
    }
  }
}
