.preview {
    background-color: var(--bg-color-primary);
    border-top: 1px solid var(--border-color-primary);
    border-bottom: 1px solid var(--border-color-primary);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 68px 0;
    }

    &__card {
        /*суммырный gap в строке 30 * 2 = 60px делим на 3 (у нас 3 элемента в строке)*/
        /*получаем 20px*/
        width: calc(100% / 3 - 20px);
    }

    &__button {
        display: block;
        width: 182px;
        margin: 0 auto;
        margin-bottom: 90px;
    }

    @media screen and (max-width: 992px) {
        &__inner {
            padding: 40px 0;
        }

        &__card {
            width: calc(100% / 2 - 20px);
            max-width: 350px;
        }

        &__button {
            margin-bottom: 50px;
        }
    }

    @media screen and (max-width: 720px) {

        &__inner {
            justify-content: center;
        }

        &__card {
            max-width: 350px;
            width: 100%;
        }
    }
}