.form-group {
    &_preview {
        & .form-group__title {
            margin-bottom: 2px;
            font-size: 10px;
        }
    }

    &_success {
        & .form-group__input {
            color: var(--text-color-secondary);
        }

        & .form-group__icon {
            fill: var(--fill-color-success);
        }
    }

    &_error {
        & .form-group__input {
            color: var(--text-color-secondary);
            border-color: var(--border-color-error);
            box-shadow: 0px 1px 1px rgba(240, 61, 62, .1);
        }

        & .form-group__icon {
            fill: var(--fill-color-error);
        }
    }

    &__title {
        display: block;
        margin: 0;
        margin-bottom: 5px;
        font-weight: 500;
        @include fzlh(12, 18);
        letter-spacing: .04em;
        text-transform: uppercase;
        color: var(--text-color-secondary-lighter);
    }

    &__input {
        display: block;
        width: 100%;
        height: 56px;
        padding: 17px 42px 14px 24px;
        font-weight: 400;
        @include fzlh(20, 26);
        color: var(--text-color-secondary-lighter);
        background: var(--bg-color-secondary);
        border: 1px solid var(--border-color-primary-darken);
        border-radius: 8px;
        outline: none;
        transition: border .3s ease-in-out;

        &-wrapper {
            position: relative;
        }

        &:focus {
            color: var(--text-color-secondary);
            border: 1px solid var(--border-color-alternate);
            box-shadow: 0px 1px 1px rgba(51, 154, 240, .1);
        }
    }

    &__indicator {
        position: absolute;
        top: calc(50% - 11px);
        left: calc(100% - 42px);
    }

    &__icon {
        display: block;
        width: 24px;
        height: 24px;
    }
}